.wrapper {
	font-size: 12px;
	line-height: 18px;
}
.name {
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	position: relative;
}
.edit {
	position: absolute;
	right: 0;
	top: 6px;
}
.type {
	border: 1px #333 solid;
	height: 18px;
	border-radius: 2px;
}
.ability {
	border: 1px #333 solid;
	height: 18px;
	border-radius: 2px;
}
.item {
	border: 1px #333 solid;
	height: 18px;
	border-radius: 2px;
}
.move {
	border: 1px #333 solid;
	height: 18px;
	border-radius: 2px;
}
.remark {
	background: rgba(0, 100, 255, 0.3);
}