.wrapper {
  display: flex;
  flex-direction: row;
  font-size: 8px;
}
.prefix {
  width: 60px;
  height: 60px;
}
.content {
  flex-grow: 1;
  position: relative;
}
.chName {

}
.enName {
  color: #ccc;
}
.pmType {
  position: absolute;
  left: 0;
  bottom: 0;
}
.suffix {

}